$primary: #84cc16;
$secondary: #1a2e05;
$warning: #ee8225;
$light: #fff3e9;
$black: #000;
$white: #fff;

.btn-primary {
	color: $white !important;
}

.font-lora {
	font-family: "Lora", serif;
}
.font-inter {
	font-family: "Inter", sans-serif;
}
.fw-500 {
	font-weight: 500 !important;
}
section {
	padding: 80px 0;
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
